/*

*/
/*
Attribute selector used to style the elements on which specific attributes are available.
Here we are applying style for elements which are having atrribute 'title'.
*/

[title] {
  color: red;
  margin-right: 20px;
  cursor: pointer;
}

/*
Atrribute selector with Element.
Here we are applying style for all the 'span' elements which are having atrribute 'title'.
*/

span[title] {
  color: green;
  display: block;
  margin: 5px 0px;
}

/*
Atrribute selector with Class.
Here we are applying style for all the  elements which are having class 'attributeSelectorClass' and atrribute 'attribute-with-class'.
*/

.attributeSelectorClass[attribute-with-class] {
  background-color: #31012f;
  color: #e3ecf5;
}

/*
Atrribute selector with exact value.
Here we are applying style for all the  elements which are having  atrribute 'data-attr' and attribute value 'true
*/

[data-attr="true"] {
  color: aliceblue;
  background-color: rgb(43, 84, 1);
  padding: 4px;
  border-radius: 2px;
}
