.app_wrapper {
  margin: 20px 40px;
  padding: 10px 20px;
  box-sizing: border-box;
}
.title {
  padding: 5px;
  text-decoration: underline;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0px;
}
.wrapper_top,
.wrapper_bottom {
  padding: 10px;
}
.selector_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
.selector--item {
  padding: 5px 10px;
  border-radius: 0.75rem;
  border: 1px solid #360003;
  cursor: pointer;
}
.selector--item__active {
  background-color: #360003;
  color: #ffffff;
}
